@import "libs/fonts.scss";
@import "libs/animations.scss";

$cd-primary-color: #579c87;
$cd-font-color:#fdcb46ff;

/* Changements généraux */
body {
    font-family: sans-serif;
    margin: 0;
    position: relative;
    margin-bottom: 80px;
}

ul {
    margin: 0;
    padding: 0;
}

.grandTitre {
    font-size: 3em;
}

a {
    text-decoration: none;
    color: $cd-font-color;
}

li {
    list-style: none;
    overflow: hidden;
}

/* En tête */
header {
    background-color: $cd-primary-color;
    text-align: center;
    padding: 1.5em;
}

/* Corps index */
main {
    display: flex;
    justify-content: center;
    position: relative;
}

.bloc-menu
{
    max-width: 900px;
}

.bloc-menu ul {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bloc-menu li {
    margin-bottom: 40px;
    box-shadow: 1px 1px 5px rgba(85, 85, 85, 0.226);
    width: 400px;
    height: 600px;
    text-align: center;

    & a {
        padding-bottom: 30px;
        font-size: 2rem;
    }

    & a:last-child {
        font-size: 2.5rem;
    }
}


.note_link {
    background-color: #fcdfda;
    
    
    & a {
        color: #3f1219;
        font-family: 'Kalam';
        font-weight: bold;;
    }

    & a:first-child {
        padding-bottom: 0;
    }

    & a:nth-child(2) {
        font-family: 'Dancing';
    }

    & a:last-child {
        text-transform: uppercase;
    }

    & img {
        height: 50px;
        width: 50px;
    }
}

.divZoom {
    transition: transform 300ms, opacity 250ms 50ms;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    align-items: center;

    &:hover {
        transform: scale(1.5);
        opacity: 0.5;
    }
}

.chic_link {
    background-color: #fff5fe;

    & a {
        color: #c67412;
    }

    & a:first-child {
        @include gradientChic;
        font-family: 'Croissant';
        font-size: 1.4rem;
    }

    & a:last-child {
        font-family: 'Vidaloka';
    }
}

.delice_link {
    background-color: #eef0f0;

    & a {
        color: #0887fb;
    }

    & a:first-child {
        @include gradientDelice;
        font-family: 'Dancing';
        font-weight: bold;
    }

    & a:last-child {
        font-family: 'Kalam';
    }
}

.palette_link {
    background-color: #fdfffd;

    & a {
        color: #72bf56;
    }

    & a:first-child {
        @include gradientPalette;
        font-family: 'Kaushan';
    }

    & a:last-child {
        font-family: 'Kalam';
    }
}

.ligne-prochainement {
    display: flex;
    justify-content: center;
}

.prochainement {
    text-align: center; 
    font-size: 2rem;
    margin-top: 0;
    border-radius: 10px;
    background-color: $cd-primary-color;
    width: 260px;
    padding: 7px;

    & :after {
        content: ' .';
        animation: dots 4s steps(5, end) infinite;
        -webkit-animation: dots 2s steps(5, end) infinite;
        -moz-animation: dots 2s steps(5, end) infinite;
        -o-animation: dots 2s steps(5, end) infinite;
    }
}

/* Corps pages menus général (note) */ 
h2 {
    text-align: center;
    padding-top: 25px;
    font-size: 2rem;
}

.block-page {
    display: flex;
    justify-content: center;
    font-family: 'Kalam', sans-serif;
}

.container
{
    width: 900px;
    height: 1250px;
    background-color: #fcdfda;
    margin-bottom: 50px;
    color: #3f1219;
}

section {
    padding-left: 50px;
    padding-right: 50px;

    & div:last-child{
        padding-left: 80px;
    }
}

.header {
    text-align: center;
    padding-top: 50px;

    & p {
        font-size: 4rem;
        margin-top: 0;
        font-family: 'Dancing';
        font-weight: bold;
    }
}

.en-tete {
    display: flex;
    justify-content: space-between;

    & p {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
        margin-top: 9px;
    }

    & img {
        height: 15px;
        padding-top: 15px;
    }

    & img:last-child {
        width: 232.09px;
    }
}

span::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3f1219;
    transition: width .3s;
}

span:hover::after {
    width: 100%;
}

.board {
    display: flex;
    margin-bottom: 70px;
    padding-left: 80px;
    padding-right: 80px;
}

.boardLeft {
    width: 90%;
}

.boardRight {
    width: 10%;
    text-align: right;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;

    & img {
        width: 50px;
        height: 50px;
        float: left;
    }

    & p {
        line-height: 0px;
        font-size: 1.5rem;
    }

    & .boardfooter {
        width: 270px;
        font-family: 'Dancing';
        font-weight: bold;
    }
}

/* Corps page chic */ 
.block-page_chic {
    
    & .container {
        background-color: #fff5fe;
    }

    & .en-tete {

        & img:first-child {
            width: 232px;
        }
    }

    & section {
        font-family: 'Vidaloka';
    }

    & article {
        margin-bottom: 100px;
    }

    & article:first-child {
        color: #c67412;
    }

    & article:nth-child(2) {
        color: #a56799;
    }

    & article:last-child {
        color: #6e4ccc;
    }
    
    & .header {
        @include gradientChic;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    & .spanChic1::after{
        background: #c67412;
    }  
    
    & .spanChic2::after{
        background: #a56799;
    }   

    & .spanChic3::after{
        background: #6e4ccc;
    }   
}

/* Corps page delice */ 
.block-page_delice {
    
    & .container {
        color: #000;
        background-color: #eef0f0;
    }

    & article {
        margin-bottom: 100px;
    }

    & .en-tete {

        & p {
            font-weight: normal;
        }
            
        & img:first-child {
            width: 232px;
        }
    }

    & .header {
        @include gradientDelice;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    & .spanDelice1::after{
        background: #0025df;
    }  
    
    & .spanDelice2::after{
        background: #358DF4;
    }   

    & .spanDelice3::after{
        background: #1D9DFB;
    } 
}

/* Corps page palette */ 
.block-page_palette {

    & .container {
        color: #000;
        background-color: #fdfffd;
    }

    & .en-tete {

        & p {
            font-weight: normal;
        }

        & img:last-child {
            width: 258px;
        }
    }

    & .header {
        @include gradientPalette;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    & span::after {
        background: linear-gradient(to right, #43973a, #bafb7b);
    }
}

/* Corps page mentions légales */ 
.mentions {
    margin: 60px 60px;
    text-align: justify;
}

/* Pied de page */
footer {
    background-color: $cd-primary-color;
    padding:0.1em;
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    width: 100%;

    &:last-child {
        float: right;
    }

    & p {
        font-size: 1.5rem;
    }
}

.boardLeftFooter {
    padding-left: 10px;

    & p:hover {
        animation: shake 0.5s infinite;
    }
}

.boardRightFooter {
    text-align: end;
    padding-right: 10px;

    & p:hover {
        animation: shake 0.5s infinite;
    }
}

/* Responsive smartphone */
@media screen and (max-width: 425px) {

    /* Corps index */
    .bloc-menu li {
        width: 250px;
        height: 350px;
    }

    .chic_link {

        & a:first-child {
            font-size: 1.2rem;
        }
    }

    /* Corps pages menu général */ 
    h2 {
        font-size: 1.5rem;
    }

    .header {

        & p{
            font-size: 2.2rem;;
        }
    }
    
    .container {
        width: 90%;
        height: auto;
    }

    .en-tete {
        flex-direction: column;

        & img:first-child {
            display: none;
        }

        & img:last-child {
            width: auto;
        }

        & p {
            width: auto;
            font-size: 1.3rem;
        }
    }

    section {

        padding-left: 15px;
        padding-right: 15px;
        
        & div:last-child {
            padding: 0;
        }
    }

    .board {
        margin: 0;
        padding: 0;
    }
    .boardRight {
        line-height: 50px;
    }

    .footer {

        & .boardfooter {
        width: 220px;
        }
    }

    /* Corps page chic */ 
    .block-page_chic {

        & section {

            & article:first-child {

                & .boardLeft {
                    line-height: 34px;
                }
            }
        }
    }

    /* Corps page delice */
    .block-page_delice {

        & section {

            & article:first-child {

                & .boardLeft {
                    
                    & p:last-child {
                        line-height: 55px;
                    }
                }
            }

            & article:last-child {

                & .boardLeft {
                    line-height: 50px;
                }
            }
        }
    }

    /* Corps page palette */ 
    .block-page_palette {

        & section {

            & article:nth-child(2) {

                & .boardRight {
                    line-height: 65px;

                }
            }
        }
    }

    /* Pied de page */ 
    footer {
        width: 100%;
        
        & a {
            font-size: 1rem;
        }
    }
}
