@charset "UTF-8";
@font-face {
  font-family: "Vidaloka";
  src: url("polices/vidaloka-regular-webfont.woff2") format("woff2"), url("polices/vidaloka-regular-webfont.woff") format("woff"), url("polices/vidaloka-regular-webfont.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kalam";
  src: url("polices/kalam-regular-webfont.woff2") format("woff2"), url("polices/kalam-regular-webfont.woff") format("woff"), url("polices/kalam-regular-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Croissant";
  src: url("polices/croissantone-regular-webfont.woff2") format("woff2"), url("polices/croissantone-regular-webfont.ttf") format("ttf"), url("polices/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kaushan";
  src: url("polices/kaushanscript-regular-webfont.woff2") format("woff2"), url("polices/kaushanscript-regular-webfont.otf") format("otf"), url("polices/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dancing";
  src: url("polices/dancingscript-regular-webfont.woff2") format("woff2"), url("polices/dancingscript-regular-webfont.otf") format("otf"), url("polices/dancingscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46ff;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46ff, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #fdcb46ff, 0.5em 0 0 #fdcb46ff;
  }
}
@-webkit-keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46ff;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46ff, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #fdcb46ff, 0.5em 0 0 #fdcb46ff;
  }
}
/* Changements généraux */
body {
  font-family: sans-serif;
  margin: 0;
  position: relative;
  margin-bottom: 80px;
}

ul {
  margin: 0;
  padding: 0;
}

.grandTitre {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: #fdcb46ff;
}

li {
  list-style: none;
  overflow: hidden;
}

/* En tête */
header {
  background-color: #579c87;
  text-align: center;
  padding: 1.5em;
}

/* Corps index */
main {
  display: flex;
  justify-content: center;
  position: relative;
}

.bloc-menu {
  max-width: 900px;
}

.bloc-menu ul {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bloc-menu li {
  margin-bottom: 40px;
  box-shadow: 1px 1px 5px rgba(85, 85, 85, 0.226);
  width: 400px;
  height: 600px;
  text-align: center;
}
.bloc-menu li a {
  padding-bottom: 30px;
  font-size: 2rem;
}
.bloc-menu li a:last-child {
  font-size: 2.5rem;
}

.note_link {
  background-color: #fcdfda;
}
.note_link a {
  color: #3f1219;
  font-family: "Kalam";
  font-weight: bold;
}
.note_link a:first-child {
  padding-bottom: 0;
}
.note_link a:nth-child(2) {
  font-family: "Dancing";
}
.note_link a:last-child {
  text-transform: uppercase;
}
.note_link img {
  height: 50px;
  width: 50px;
}

.divZoom {
  transition: transform 300ms, opacity 250ms 50ms;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
}
.divZoom:hover {
  transform: scale(1.5);
  opacity: 0.5;
}

.chic_link {
  background-color: #fff5fe;
}
.chic_link a {
  color: #c67412;
}
.chic_link a:first-child {
  background-clip: text;
  background: -webkit-linear-gradient(150deg, #c67412, #6e4ccc);
  background: -moz-linear-gradient(150deg, #c67412, #6e4ccc);
  background: -ms-linear-gradient(150deg, #c67412, #6e4ccc);
  background: -o-linear-gradient(150deg, #c67412, #6e4ccc);
  background: linear-gradient(150deg, #c67412, #6e4ccc);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  font-family: "Croissant";
  font-size: 1.4rem;
}
.chic_link a:last-child {
  font-family: "Vidaloka";
}

.delice_link {
  background-color: #eef0f0;
}
.delice_link a {
  color: #0887fb;
}
.delice_link a:first-child {
  background-clip: text;
  background: -webkit-linear-gradient(150deg, #0025df, #43adf9);
  background: -moz-linear-gradient(150deg, #0025df, #43adf9);
  background: -ms-linear-gradient(150deg, #0025df, #43adf9);
  background: -o-linear-gradient(150deg, #0025df, #43adf9);
  background: linear-gradient(150deg, #0025df, #43adf9);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  font-family: "Dancing";
  font-weight: bold;
}
.delice_link a:last-child {
  font-family: "Kalam";
}

.palette_link {
  background-color: #fdfffd;
}
.palette_link a {
  color: #72bf56;
}
.palette_link a:first-child {
  background-clip: text;
  background: -webkit-linear-gradient(150deg, #43973a, #bafb7b);
  background: -moz-linear-gradient(150deg, #43973a, #bafb7b);
  background: -ms-linear-gradient(150deg, #43973a, #bafb7b);
  background: -o-linear-gradient(150deg, #43973a, #bafb7b);
  background: linear-gradient(150deg, #43973a, #bafb7b);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  font-family: "Kaushan";
}
.palette_link a:last-child {
  font-family: "Kalam";
}

.ligne-prochainement {
  display: flex;
  justify-content: center;
}

.prochainement {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
  border-radius: 10px;
  background-color: #579c87;
  width: 260px;
  padding: 7px;
}
.prochainement :after {
  content: " .";
  animation: dots 4s steps(5, end) infinite;
  -webkit-animation: dots 2s steps(5, end) infinite;
  -moz-animation: dots 2s steps(5, end) infinite;
  -o-animation: dots 2s steps(5, end) infinite;
}

/* Corps pages menus général (note) */
h2 {
  text-align: center;
  padding-top: 25px;
  font-size: 2rem;
}

.block-page {
  display: flex;
  justify-content: center;
  font-family: "Kalam", sans-serif;
}

.container {
  width: 900px;
  height: 1250px;
  background-color: #fcdfda;
  margin-bottom: 50px;
  color: #3f1219;
}

section {
  padding-left: 50px;
  padding-right: 50px;
}
section div:last-child {
  padding-left: 80px;
}

.header {
  text-align: center;
  padding-top: 50px;
}
.header p {
  font-size: 4rem;
  margin-top: 0;
  font-family: "Dancing";
  font-weight: bold;
}

.en-tete {
  display: flex;
}
.en-tete p {
  font-size: 1.5rem;
  width: 335px;
  text-align: center;
  font-weight: bold;
  margin-top: 9px;
}
.en-tete img {
  height: 15px;
  padding-top: 15px;
}
.en-tete img:last-child {
  width: 232.09px;
}

span::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #3f1219;
  transition: width 0.3s;
}

span:hover::after {
  width: 100%;
}

.board {
  display: flex;
  margin-bottom: 70px;
  padding-left: 80px;
  padding-right: 80px;
}

.boardLeft {
  width: 90%;
}

.boardRight {
  width: 10%;
  text-align: right;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.footer img {
  width: 50px;
  height: 50px;
  float: left;
}
.footer p {
  line-height: 0px;
  font-size: 1.5rem;
}
.footer .boardfooter {
  width: 270px;
  font-family: "Dancing";
  font-weight: bold;
}

/* Corps page chic */
.block-page_chic .container {
  background-color: #fff5fe;
}
.block-page_chic .en-tete img:first-child {
  width: 232px;
}
.block-page_chic section {
  font-family: "Vidaloka";
}
.block-page_chic article {
  margin-bottom: 100px;
}
.block-page_chic article:first-child {
  color: #c67412;
}
.block-page_chic article:nth-child(2) {
  color: #a56799;
}
.block-page_chic article:last-child {
  color: #6e4ccc;
}
.block-page_chic .header {
  background-clip: text;
  background: -webkit-linear-gradient(150deg, #c67412, #6e4ccc);
  background: -moz-linear-gradient(150deg, #c67412, #6e4ccc);
  background: -ms-linear-gradient(150deg, #c67412, #6e4ccc);
  background: -o-linear-gradient(150deg, #c67412, #6e4ccc);
  background: linear-gradient(150deg, #c67412, #6e4ccc);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  margin-bottom: 100px;
  margin-top: 100px;
}
.block-page_chic .span1::after {
  background: #c67412;
}
.block-page_chic .span2::after {
  background: #a56799;
}
.block-page_chic .span3::after {
  background: #6e4ccc;
}

/* Corps page delice */
.block-page_delice .container {
  color: #000;
  background-color: #eef0f0;
}
.block-page_delice article {
  margin-bottom: 100px;
}
.block-page_delice .en-tete p {
  font-weight: normal;
}
.block-page_delice .en-tete img:first-child {
  width: 232px;
}
.block-page_delice .header {
  background-clip: text;
  background: -webkit-linear-gradient(150deg, #0025df, #43adf9);
  background: -moz-linear-gradient(150deg, #0025df, #43adf9);
  background: -ms-linear-gradient(150deg, #0025df, #43adf9);
  background: -o-linear-gradient(150deg, #0025df, #43adf9);
  background: linear-gradient(150deg, #0025df, #43adf9);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  margin-top: 100px;
  margin-bottom: 100px;
}
.block-page_delice .span1::after {
  background: #0025df;
}
.block-page_delice .span2::after {
  background: #358DF4;
}
.block-page_delice .span3::after {
  background: #1D9DFB;
}

/* Corps page palette */
.block-page_palette .container {
  color: #000;
  background-color: #fdfffd;
}
.block-page_palette .en-tete p {
  font-weight: normal;
}
.block-page_palette .en-tete img:last-child {
  width: 258px;
}
.block-page_palette .header {
  background-clip: text;
  background: -webkit-linear-gradient(150deg, #43973a, #bafb7b);
  background: -moz-linear-gradient(150deg, #43973a, #bafb7b);
  background: -ms-linear-gradient(150deg, #43973a, #bafb7b);
  background: -o-linear-gradient(150deg, #43973a, #bafb7b);
  background: linear-gradient(150deg, #43973a, #bafb7b);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  margin-top: 100px;
  margin-bottom: 100px;
}
.block-page_palette span::after {
  background: linear-gradient(to right, #43973a, #bafb7b);
}

/* Corps page mentions légales */
.mentions {
  margin: 60px 60px;
  text-align: justify;
}

/* Pied de page */
footer {
  background-color: #579c87;
  padding: 0.1em;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer:last-child {
  float: right;
}
footer p {
  font-size: 1.5rem;
}

.boardLeftFooter {
  width: 50%;
  padding-left: 10px;
}
.boardLeftFooter p:hover {
  animation: shake 0.5s infinite;
}

.boardRightFooter {
  width: 50%;
  text-align: end;
  padding-right: 10px;
}
.boardRightFooter p:hover {
  animation: shake 0.5s infinite;
}

/* Responsive smartphone */
@media screen and (max-width: 425px) {
  /* Corps index */
  .bloc.menu li {
    width: 80%;
    height: 250px;
  }

  .chic_link a:first-child {
    font-size: 1.2rem;
  }

  /* Corps pages menu général */
  h2 {
    font-size: 1.5rem;
  }

  .header p {
    font-size: 2.2rem;
  }

  .container {
    width: 90%;
    height: auto;
  }

  .en-tete {
    flex-direction: column;
  }
  .en-tete img:first-child {
    display: none;
  }
  .en-tete img:last-child {
    width: auto;
  }
  .en-tete p {
    width: auto;
    font-size: 1.3rem;
  }

  section {
    padding-left: 15px;
    padding-right: 15px;
  }
  section div:last-child {
    padding: 0;
  }

  .board {
    margin: 0;
    padding: 0;
  }

  .boardRight {
    line-height: 50px;
  }

  .footer .boardfooter {
    width: 220px;
  }

  /* Corps page chic */
  .block-page_chic section article:first-child .boardLeft {
    line-height: 34px;
  }

  /* Corps page delice */
  .block-page_delice section article:first-child .boardLeft p:last-child {
    line-height: 55px;
  }
  .block-page_delice section article:last-child .boardLeft {
    line-height: 50px;
  }

  /* Corps page palette */
  .block-page_palette section article:nth-child(2) .boardRight {
    line-height: 65px;
  }

  /* Pied de page */
  footer {
    width: 100%;
  }
  footer a {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styleindex.css.map */
